[submodule "Future/vendor/spdlog"]
	path = Future/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Future/vendor/GLFW"]
	path = Future/vendor/GLFW
	url = https://github.com/halilyaman/glfw
[submodule "Future/vendor/imgui"]
	path = Future/vendor/imgui
	url = https://github.com/halilyaman/imgui
[submodule "Future/vendor/glm"]
	path = Future/vendor/glm
	url = https://github.com/g-truc/glm
